body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.question-option-btn {
    display: block;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#game-container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: row nowrap;
    background: #ddffff;
}

#game-container > div {
    flex: 1 1 auto;
    align-self: middle;
    padding: 12px;
    height: auto;
}
